.xy-number-input {
    width: 55px;
    padding: 10px;
    margin: 5px;
}

.xy-number-input::-webkit-inner-spin-button,
.xy-number-input::-webkit-outer-spin-button {
    opacity: 1;
}

.desk-div:hover {
    cursor: pointer;
}

.popup-info {
    top: 15px !important;
}

.desk-unmoved {
    background-color: rgba(0, 175, 0);
}

.desk-moved {
    background-color: rgb(222, 159, 0);
}

body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}