body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.pointer-hover:hover {
    cursor: pointer;
}

.pointer-not-allowed:hover {
    cursor: not-allowed;
}
.image-container {
    width: 1920px;
    position: relative;
}

.image-container img {
    /*width: 1920px;*/
    height: auto;
    /*display: block;*/
    position: relative;

    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: -1;
    /*position: absolute;*/
}

.desk {
    position: absolute;
    border-radius: 50%;

    width: 25px; /* Adjust size of the circle */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.desk-available {
    background-color: rgba(0, 175, 0, 0.5);
}

.desk-booked {
    background-color: rgba(255, 0, 0, 0.5);
}

.desk-reserved {
    background-color: rgba(0, 0, 255, 0.5);
}

.desk-currentuser {
    background-color: rgba(255, 0, 255, 1);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* You can adjust the background color as needed */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better visibility */
    z-index: 999; /* Make sure it's above other content */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h2 {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #1e66b0; /* Navy Blue */

}

.popup-info {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    z-index: 1;
    white-space: nowrap;
    top: 20px;
    left: 15px;
}

.desk:hover .popup-info {
    display: inline-block;
}

.desk-div:hover .popup-info {
    display: inline-block;
}

#bookPopup, #cancelPopup {
    display: none;
}

.day-block {
    display: inline-block;
    width: 35px; /* Adjust width as needed */
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.day-block:hover {
    background-color: #f0f0f0;
}

.day-name {
    font-size: smaller;
}

.day-booked {
    background-color: rgba(0, 175, 0, 0.5);
}

.day-skipped {
    display: inline-block;
    width: 5px;
}

.day-date {
    font-size: larger;
}

.current-day {
    font-weight: bold;
}

.selected-day {
    border: 3px solid;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-weight: bold;
}

.toast-success {
    background-color: green;
}

.toast-error {
    background-color: red;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.hide {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
}

.menu button:hover {
    background-color: #555;
}

#cancelBooking {
    background-color: red;
}

#confirmBooking {
    background-color: green;
}