<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk Booking Admin</title>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/bookingadmin.css}" rel="stylesheet"/>
</head>
<body>
<script type="text/javascript" th:src="@{/js/bookingadmin.js}"></script>
<div class="sticky-header">
    <div class="header-content">
        <h2 th:text="'Welcome ' + ${name} + ' (ADMIN)'"></h2>
        <h2>Booking admin</h2>
        <div class="menu">
            <button onclick="location.href='/admin'">Back</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
</div>

<h2>TODO</h2>

<div id="toast" class="toast"></div>
</body>
</html>
