<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desk Booking</title>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:if="${heatmap}" th:href="@{/css/heatmap.css}" rel="stylesheet"/>
</head>
<body>
<script th:if="${!heatmap}" type="text/javascript" th:src="@{/js/booking.js}"></script>
<script type="text/javascript" th:src="@{/js/toast.js}"></script>
<script th:if="${heatmap}" type="text/javascript" th:src="@{/js/heatmaplib.min.js}"></script>
<script th:if="${heatmap}" type="text/javascript" th:src="@{/js/heatmap.js}"></script>
<div class="sticky-header">
    <div class="header-content">
        <h2 th:text="'Welcome ' + ${name}"></h2>
        <div class="header-content">
            <input id="bookingDate" type="hidden">
            <div id="weekdays">
                <!-- Days of the week will be added here -->
            </div>
        </div>
        <div class="menu">
            <button th:if="${isAdmin}" onclick="location.href='/admin'">Admin</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
</div>


<div class="image-container">
    <img id="backgroundImage" th:src="@{/img/floorplan.png}" alt="Floor plan">
    <div th:if="${heatmap}" id="heatmap"></div>
</div>

<div class="overlay" id="overlay">
    <input type="hidden" id="deskDbId">
    <div class="popup" id="bookPopup">
        <h3>Book Desk <span id="deskId"></span> for <span id="dateToBook"></span></h3>
        <button type="button" id="confirmBooking">Confirm</button>
        <button type="button" id="closePopupBooking">Close</button>
    </div>

    <div class="popup" id="cancelPopup">
        <h3>Cancel Booking for Desk <span id="deskId2"></span> for <span id="dateToBook2"></span></h3>
        <button type="button" id="cancelBooking">Cancel Booking</button>
        <button type="button" id="closePopupCancel">Close</button>
    </div>
</div>

<div id="toast" class="toast"></div>
</body>
</html>
