<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/users.css}" rel="stylesheet"/>
</head>
<body>
<script type="text/javascript" th:src="@{/js/users.js}"></script>
<div class="sticky-header">
    <div class="header-content">
        <h2 th:text="'Welcome ' + ${name}"></h2>
        <h2>Users</h2>
        <div class="menu">
            <button onclick="location.href='/admin'">Back</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
</div>

<div style="width: 100%; background-color: darkred; color: white">
    <h2>This page is still a work in progress and some/all functionality may not work - see <a style="color: white" href="/todo">Todo</a> for more</h2>
</div>

<div id="contentDiv" class="contentDiv"></div>

</body>
</html>
